.style-gd-hd-body {
  /* background: #ecf0f1; */
}

.container.cal {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #c1c1c1;
  margin: 0 auto;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .result {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #c1c1c1;
}

.container .result p {
  font-size: 25pt;
  overflow-y: auto;
  text-align: right;
  color: #000000;
  padding-right: 10px;
}

.container .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  /* margin-left: 1em; */
}

.container .buttons .button,
.container .buttons .num-button {
  cursor: pointer;
  text-align: center;
  width: 50%;
  font-size: 7vh;
  height: 80%;
  display: grid;
  place-content: center;
  border-radius: 20px;
  border-radius: 18px;
  background: #e0e0e0;
  /* box-shadow:  5px 5px 10px #c1c1c1,
             -5px -5px 10px #c1c1c1; */
  border: none;
}

.button:hover {
  color: #3498db;
  border-radius: 20px;
  background: #d11a1a;
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #ffffff;

}

/*  Big Button */
.container .buttons .zero {
  grid-column: 1/ 3;
  width: 100%;
  font-size: 20px;
  color: #000000;
  border-radius: 10px;
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #c1c1c1;
}

.container .buttons .eraser{
  background: #7f8c8d;
  color: white;
}

.container .buttons .enter{
  background: #1abc9c;
    color: white;
}

.action-btn {
  color: grey;
  font-weight: bold;
}

.calc-action-btn {
  color: #000000;
  font-size: 7vh;
  font-weight: bold;
}


#referee-result-box {
  font-size: 7vh;
}


.gd-name {
  width: 100%;
}

.gd-match {
  width: 100%;
  color: #2980b9;
}

.gd-status {
  width: 100%;
}

#chooseRefereeNoModal .btn-group-toggle{
  width: 100%;
}