@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: clockicons;
    src: url(../font/clockicons/clockicons.woff2) format('woff2');
    font-weight: 400;
    font-style: normal
}

html {
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.body {
    font-family: "Open Sans", "Segoe UI", sans-serif;
    background-attachment: fixed;
    margin: 0px;
    color: #636e72;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}

#internet-status {
    display: none;
}

.info-area {
    height: 30%;
    width: 100%;
}

.info-match-left-area {
    float: left;
    height: 100%;
    width: 35%;
}

.info-match-top {
    float: right;
    height: 50%;
    width: 40%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
}

.timer-area {
    float: left;
    height: 100%;
    width: 30%;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
}

.round-text {
    float: left;
    width: 100%;
    height: 35%;
    font-size: 5vh;
}

.timer-text {
    font-family: clockicons;
    float: left;
    width: 100%;
    height: 65%;
    /* font-size: 17vh; */
    font-size: 9vw;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background-color: #bdc3c7;
}

.timer-text:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.info-match-right-area {
    float: right;
    height: 100%;
    width: 35%;
}

.match-category {
    float: left;
    height: 25%;
    width: 40%;
    font-size: 4vh;
    border-top: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
}

.match-type {
    float: left;
    height: 25%;
    width: 30%;
    font-size: 4vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid #bdc3c7;
}

.logo {
    float: right;
    height: 25%;
    width: 40%;
    /* border-left: 1px solid #bdc3c7; */
    border-right: 1px solid #bdc3c7;
    padding: 5px;
}

.arena {
    float: left;
    height: 25%;
    width: 30%;
    font-size: 4vh;
    font-weight: bold;
    color: blue;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fvc-logo {
    float: left;
    height: 50%;
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
}

.logo-4T {
    float: right;
    height: 50%;
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
}

.fu-logo {
    float: left;
    height: 50%;
    width: 70%;
    font-size: 3vh;
    padding: 5px;
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px solid blue; */
}

.info-text {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.match-no {
    float: right;
    height: 50%;
    width: 30%;
    font-size: 5vh;
    position: relative;
    z-index: 0;
    color: #34495e;
}

.match-prev {
    position: absolute;
    width: 35%;
    height: 100%;
    left: 0;
    cursor: pointer;
    z-index: 1;
    /* background: rgba(0, 0, 0, 0.0); */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    color: #f1f2f6;
}

.match-prev:hover {
    opacity: 1;
    color: #ced6e0;
}

.match-prev:active {
    opacity: 0;
}

.match-prev .info-text {
    left: 0;
    transform: translate(0, -50%);
}

.match-next {
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    color: #f1f2f6;
}

.match-next .info-text {
    right: 0;
    transform: translate(0, -50%);
}

.match-choose {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 35%;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    color: #f1f2f6;
}

.match-choose:hover {
    opacity: 0.6;
    color: #ced6e0;
}

.match-choose:active {
    opacity: 0;
}

.match-next:hover {
    opacity: 1;
    color: #ced6e0;
}

.match-next:active {
    opacity: 0;
}

.red-fighter {
    float: left;
    height: 50%;
    width: 100%;
    color: red;
    position: relative;
    z-index: 0;
}

.red-win {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fighter-name {
    height: 50%;
    font-size: 5vh;
    /* font-size: 2.7vw; */
    position: relative;
}

.icon-win-red {

    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.1;
    margin-left: 10px;
}

.icon-win-red:hover {
    opacity: 1;
}

.icon-win-red:active {
    opacity: 0;
}

.icon-win-blue {
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.1;
    margin-right: 10px;
}

.icon-win-blue:hover {
    opacity: 1;
}

.icon-win-blue:active {
    opacity: 0;
}

.fighter-name.red {
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid red; */
    text-align: left;
    width: 130%;
}

.fighter-name.blue {
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid blue; */
    text-align: right;
    margin-left: -30%;
}

.info-text-fighter-name-red {
    cursor: pointer;
    position: relative;
    float: left;
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
}

.info-text-fighter-name-blue {
    cursor: pointer;
    position: relative;
    float: right;
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
}

.fighter-code {
    height: 50%;
    font-size: 4vh;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid;
}

.fighter-code.red {
    border-color: red;
}

.fighter-code.blue {
    border-color: blue;
}

.info-text-fighter-code-red {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.info-text-fighter-code-blue {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.blue-fighter {
    float: right;
    height: 50%;
    width: 100%;
    color: blue;
    position: relative;
}

.blue-win {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
}

.score-area {
    height: 70%;
    font-size: 40vh;
    color: white;
    font-size: 45vh;
}

.red-score {
    height: 100%;
    width: 45%;
    background: red;
    float: left;
    z-index: 0;
    position: relative;
    border-radius: 0 20px 0 0;
}

.red-score-refereeSc.gdp {
    width: 40%;
}

.blue-score-refereeSc.gdp {
    width: 40%;
}

.red-score-refereeSc {
    height: 100%;
    width: 50%;
    float: left;
    z-index: 0;
    position: relative;
    background: red;
    color: red;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid red;
    border-radius: 0px 0 0 5px;
}

.referee-score .red-score-refereeSc {
    /* background: #ecf0f1; */
    color: white;
}

.referee-score .blue-score-refereeSc {
    /* background: #ecf0f1; */
    color: white;
}

.addition {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background: rgba(0, 0, 0, 0.0);
}

.addition:hover {
    /* background: rgba(0, 0, 0, 0.1); */
}

.addition:active {
    background: rgba(255, 255, 255, 0.3);
}

.subtraction {
    position: absolute;
    width: 100%;
    height: 14%;
    /* height: 10%; */
    top: 80%;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background: rgba(255, 255, 255, 0.0);
}

.subtraction:hover {
    background: rgba(0, 0, 0, 0.1);
}

.subtraction:active {
    background: rgba(0, 0, 0, 0.3);
}

.subtraction.subtraction-red {
    right: 0;
}

.subtraction.subtraction-blue {
    left: 0;
}

#blue-score, #red-score{
    font-weight: bolder;
}

.blue-score {
    height: 100%;
    width: 45%;
    background: blue;
    float: right;
    z-index: 0;
    position: relative;
    border-radius: 20px 0 0 0;
}

.blue-score-refereeSc {
    height: 100%;
    width: 50%;
    float: right;
    z-index: 0;
    position: relative;
    background: blue;
    color: blue;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 0 0px 5px 0;
}

.home-icon {
    width: 7px;
    height: 10px;
    display: inline-block;
    position: relative;
    border: 10px solid #fff;
    border-bottom: none
}

.referee-score-area-top {
    height: 50%;
    width: 100%;
    color: #c0392b;
    font-size: 3vh;
    text-align: center;
}

.referee-score-area {
    height: 100%;
    width: 9%;
    float: left;
    z-index: 0;
    position: relative;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.referee {
    float: left;
    height: 15%;
    width: 100%;
    /* width: 17%; */
}

.referee-title {
    color: #2c3e50;
    /* background: #7f8c8d; */
    height: 30%;
    width: 100%;
    font-size: 1.5vh;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #7f8c8d;
    font-family: roboto;
    font-weight: 400;
}

.referee-score {
    height: 70%;
    width: 100%;
    font-size: 6vh;
    color: white;
}

.line-break {
    float: left;
    height: 4%;
    width: 100%;
}

.tournament-name {
    height: 5%;
    font-size: 3vh;
    background: #3498db;
    color: #fff;
}

.break-line {}

.break-line-red {
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid red;
}

.break-line-blue {
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid blue;
}

/* ------------------------- */

/* Information Style */

.category-buttons {
    text-align: center;
    margin: 10px;
}

.tbl-info {
    padding: 20px;
}

.text-center {
    text-align: center;
}

/* ------------------------- */

/* -----------Giám định-------------- */

.info-gd-area {
    height: 10%;
}

.gd-name {
    float: left;
    width: 40%;
    height: 100%;
    font-size: 8vh;
}

.gd-status {
    float: left;
    width: 20%;
    height: 100%;
    font-size: 8vh;
}

.gd-match {
    float: right;
    width: 40%;
    height: 100%;
    font-size: 8vh;
}

.score-gd-area {
    height: 100%;
    /* height: -moz-calc(100% - 126px);
    height: -webkit-calc(100% - 126px);
    height: calc(100% - 126px); */
    font-size: 30vh;
    color: white;
}

.red-score-refereeSc.gdp {
    border-width: 3px;
}

.blue-score-refereeSc.gdp {
    border-width: 3px;
}

.border-button {
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border: 4px solid #E51A1A;
    color: black;
}

.border-button:hover {
    transition: 0.3s all;
    border: none;
    border: 4px solid white;
    background-color: #E51A1A;
    color: white;
}

.border-button:active {
    color: #FFB2B2;
}

.add-score {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background: rgba(255, 255, 255, 0.0);
    /* text-shadow: -1px -1px white, 1px 1px #333 */
}

/* .add-score:hover {
    background: rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px white, -1px -1px #333
}

.add-score:active {
    background: rgba(0, 0, 0, 0.3);
} */

/* .add-score.red:hover{
    color: #ecf0f1;
    background: red;
} */
.add-score.red:active {
    background: rgba(255, 0, 0, 0.5);
    color: #ecf0f1;
}

/* .add-score.blue:hover{
    color: #ecf0f1;
    background: blue;
} */
.add-score.blue:active {
    color: #ecf0f1;
    background: rgba(0, 0, 255, 0.5);
}


.one {
    float: left;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* border-left: 1px solid #bdc3c7; */
    background: #ecf0f1;
}

.two {
    float: left;
    width: 100%;
    height: 50%;
    background: #ecf0f1;
}

.zero {
    float: left;
    width: 100%;
    height: 10%;
    font-size: 10vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #bdc3c7;
    background: #ecf0f1;
}

.add-score.one.red {
    border-bottom: 1px solid #bdc3c7;
}

.add-score.one.blue {
    border-bottom: 1px solid #bdc3c7;
}

.btn-decrement {
    width: 15%;
    height: 100%;
    font-size: 1vw;
    float: left;
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-left: 0px;
    border-right: 0px;
    position: relative;
    z-index: 2;
}

.btn-decrement .info-text{
    position: relative;
    z-index: 3;
}

.btn-decrement-red {
    border-color: white;
    color: white;
    background: red;
}

.btn-decrement-red:hover {
    background-color: #bb2d3b;
}

.btn-decrement-red:active {
    background-color: #b02a37;
}

.btn-decrement-blue {
    border-color: white;
    color: white;
    background: blue;
}

.btn-decrement-blue:hover {
    background-color: #0b5ed7;
}

.btn-decrement-blue:active {
    background-color: #0a58ca;
}

.btn-increment {
    width: 15%;
    font-size: 1vw;
    float: left;
    height: 100%;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-left: 0px;
    position: relative;
    z-index: 2;
}

.btn-increment-red {
    border-color: white;
    color: white;
    background: red;
}

.btn-increment-red:hover {
    background-color: #bb2d3b;
}

.btn-increment-red:active {
    background-color: #b02a37;
}

.btn-increment-blue {
    border-color: white;
    color: white;
    background: blue;
}

.btn-increment-blue:hover {
    background-color: #0b5ed7;
}

.btn-increment-blue:active {
    background-color: #0a58ca;
}

.text-cautions-number {
    width: 20%;
    height: 100%;
    font-size: 1vw;
    float: left;
    border-radius: 0px 0px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}

.text-cautions-number-red {
    text-align: center;
    color: white;
    background-color: red !important;
}

.text-cautions-number-blue {
    text-align: center;
    color: white;
    background-color: blue !important;
}

/* ---------End Giám định---------------- */

/* --------Schema----------------- */

#schema-bracket {
    margin: 20px;
}

.metroBtn {
    background-color: #2E7BCC;
    color: #fff;
    font-size: 1.1em;
    padding: 10px;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
}

.brackets>div {
    vertical-align: top;
    clear: both;
}

.brackets>div>div {
    float: left;
    /* height: 100%; */
}

.brackets>div>div>div {
    margin: 45px 0 115px 0;
}

.brackets div.bracketbox {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 3px solid red;
    border-right: 1px solid black;
    border-bottom: 3px solid blue;
}

.brackets div.bracketbox>span.info {
    font-size: 3em;
    color: #BBB;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brackets div.bracketbox>span {
    position: absolute;
    left: 5px;
    font-size: 1.5em;
}

.brackets div.bracketbox>span.teama {
    top: -42px;
    color: red;
}

.brackets div.bracketbox>span.teamb {
    bottom: -42px;
    color: blue;
}

.brackets div.bracketbox>span.teamc {
    bottom: 1px;
}

.brackets>.group2 {
    height: 260px;
}

.brackets>.group2>div {
    width: 49%;
}

.brackets>.group3 {
    height: 320px;
}

.brackets>.group3>div {
    width: 32.7%;
}

.brackets>.group4>div {
    width: 24.5%;
}

.brackets>.group5>div {
    width: 19.6%;
}

.brackets>.group6 {
    height: 2000px;
}

.brackets>.group6>div {
    width: 16.3%;
}

.brackets>div>.r1>div {
    height: 55px;
}

.brackets>div>.r2>div {
    margin: 71px 0 167px 0;
    height: 173px;
}

.brackets>div>.r3>div {
    margin: 160px 0 340px 0;
    height: 342px;
}

.brackets>div>.r4>div {
    margin: 320px 0 686px 0;
    height: 690px;
}

.brackets>div>.r5>div {
    margin: 662px 0 0 0;
    height: 1375px;
}

.brackets>div>.r6>div {
    margin: 1350px 0 0 0;
}

.brackets div.final>div.bracketbox {
    border-top: 0px;
    border-right: 0px;
    height: 0px;
    border-bottom: 3px solid green;
}

.brackets>div>.r4>div.drop {
    height: 180px;
    margin-bottom: 0px;
}

.brackets>div>.r5>div.final.drop {
    margin-top: 345px;
    margin-bottom: 0px;
    height: 1px;
}

.brackets>div>div>div:last-of-type {
    margin-bottom: 0px;
}


/* ---------End schema---------------- */

/* ---------Start Chấm quyền-------------- */

/* ---------End Chấm quyền---------------- */

.setting-box {
    float: left;
    width: 50%;
    height: 100%;
}

.import-box {
    float: left;
    width: 50%;
    height: 45%;
}

textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    padding: 0;
    background: #bdc3c7;
}

.setting-form {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(218, 220, 224);
    padding: 24px 24px;
    background: #f5f6fa;
}

.tournament-text {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(218, 220, 224);
    padding: 24px 24px;
    background: #f5f6fa;
}

.function-button {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.text-belize-hole {
    color: #2980b9;
}

.text-pomegrante {
    color: #c0392b;
    font-size: 4vh;
}

.text-midnight-blue {
    color: #2c3e50;
}

.blog-header {
    line-height: 1;
    /* border-bottom: 1px solid #e5e5e5; */
}

#arena-name {
    color: blue;
    font-weight: bold;
}

#gd-match {
    color: #2980b9;
}

#chooseRefereeNoModal .btn-group-toggle {
    width: 100%;
}

.gd-info {
    float: left;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.bigIcon {
    font-size: 5em;
}

.bigIcon a {
    color: #bdc3c7;
}

.bigIcon a:hover {
    color: #7f8c8d;
}

.countryFlag {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    cursor: pointer;
}

.countryFlagHD {
    position: absolute;
    width: 20%;
    height: 20%;
}

.blueFlag {
    right: 0;
}

.redFlag {
    left: 0;
}

.flagImage {
    height: 100%;
    display: block;
    border-bottom: 5px solid #ffffff;
}

.flagImageHD {
    width: 100%;
    display: block;
    float: left;
    border-radius: 5px 5px;
}

.blueFlag .flagImage {
    float: right;
    border-left: 5px solid #ffffff;
    border-bottom-left-radius: 30px 30px;
}

.redFlag .flagImage {
    float: left;
    border-right: 5px solid #ffffff;
    border-bottom-right-radius: 30px 30px;
}

.style-hd-body {
    font-family: "Open Sans", "Segoe UI", sans-serif;
    background-attachment: fixed;
    margin: 0px;
    color: #636e72;
    background: #ecf0f1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.cautions-information {
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 1%;
}

.cautions-information .cautions-box {
    width: 17.6%;
    height: 100%;
    float: left;
}

.cautions-information .line-break-caution {
    float: left;
    height: 100%;
    width: 2%;
}

.cautions-label {
    width: 50%;
    height: 100%;
    font-size: 0.6vw;
    float: left;
    border-radius: 5px 0px 0 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}

.cautions-label-red {
    background: red;
    color: white;
}

.cautions-label-blue {
    background: blue;
    color: white;
}

/* ---------Start Chấm quyền-------------- */

.information {
    width: 100%;
    height: 15%;
    /* background-color: burlywood; */
}

.style-hd-info {
    width: 45%;
    height: 100%;
    /* background-color: olivedrab; */
    float: left;
}

.style-hd-timer-area {
    width: 10%;
    height: 100%;
    float: left;
    padding: 10px 0px 0px 0px;
}

.logo-area {
    width: 45%;
    height: 100%;
    float: left;
}

.match-detail {
    width: 100%;
    height: 20%;
}

.match-title {
    width: 100%;
    height: 100%;
    font-size: 8vh;
    color: #2980b9;
    position: relative;
}

.match-fighter {
    width: 34%;
    height: 65%;
    text-align: center;
    position: relative;
    float: right;
    margin-right: 1%;
}

.spec-fighter {
    width: 1%;
    height: 100%;
    float: left;
}

.fighter-detail {
    width: 100%;
    height: 14%;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #7f8c8d;
    color: #2980b9;
    float: left;
}

.style-group-fighter-info{
    border: none;
    height: 20%;
}


.style-hd-fighter-name {
    width: 100%;
    height: 100%;
    font-size: 4vh;
    font-weight: bold;
    color: #2980b9;
}

.style-hd-fighter-code {
    width: 80%;
    height: 100%;
    font-size: 8vh;
    color: #d63030;
    float: right;
}

.style-hd-referee-score-area {
    width: 12%;
    height: 64%;
    color: #636e72;
    float: left;
    margin-left: 1%;
}

.referee-sub-area {
    height: 18%;
    width: 100%;
    float: left;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.style-hd-referee-title {
    width: 100%;
    height: 35%;
    font-size: 2.5vh;
    border: none;
}

.referee-sub-score {
    width: 100%;
    height: 65%;
    font-size: 7vh;
}

.spec-score {
    width: 100%;
    height: 2%;
    float: left;
}

.main-score {
    width: 30%;
    height: 65%;
    font-size: 30vh;
    color: #d63031;
    font-weight: bold;
    float: right;
}

#averageScore {
    cursor: pointer;
}

.tournament-quyen-name {
    color: #c0392b;
    font-size: 4vh;
}

.logo-quyen {
    float: right;
    height: 100%;
    /* width: 80%; */
}

.style-hd-timer-text {
    height: 100%;
    font-size: 3vw;
    font-family: clockicons;
    float: left;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background-color: #bdc3c7;
}

.style-hd-match-prev .info-text {
    left: 50%;
    font-size: 15vh;
}

.style-hd-match-prev {
    height: 100%;
    left: 0;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;

    color: #95a5a6;
    float: left;
    position: relative;
    width: 15%;
}

.style-hd-match-prev:hover {
    color: #636e72;
}

.style-hd-match-next {
    height: 100%;
    right: 0;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;

    color: #95a5a6;
    float: right;
    position: relative;
    width: 15%;
}

.style-hd-match-next .info-text {
    font-size: 15vh;
}

.style-hd-match-next:hover {
    color: #636e72;
}

.match-name-no {
    width: 70%;
    height: 100%;
    position: relative;
    float: left;
}

/* ---------End Chấm quyền---------------- */

.info-header {
    width: 100%;
    height: 20%;
}

.container-cal {
    width: 100%;
    height: 75%;
    padding: 0 16px;
}

.cal {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #c1c1c1,
        -5px -5px 10px #c1c1c1;
    margin: 0 auto;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cal .card-deck {
    height: 100%;
}

.cal .card {
    height: 100%;
}

.cal .card-header {
    height: 20%;
}

.cal .card-body {
    height: 80%;
}

.cal .result {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #c1c1c1,
        -5px -5px 10px #c1c1c1;
}

.cal .result p {
    font-size: 25pt;
    overflow-y: auto;
    text-align: right;
    color: #000000;
    padding-right: 10px;
}

.cal .buttons {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    /* margin-left: 1em; */
}

.cal .buttons .button,
.cal .buttons .num-button {
    cursor: pointer;
    text-align: center;
    font-size: 5vh;
    height: 100%;
    display: grid;
    place-content: center;
    border-radius: 20px;
    border-radius: 18px;
    background: #e0e0e0;
    border: none;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}

.button:hover {
    color: #3498db;
    border-radius: 20px;
    background: #d11a1a;
    box-shadow: 5px 5px 10px #c1c1c1,
        -5px -5px 10px #ffffff;

}

/*  Big Button */
.cal .buttons .zero {
    grid-column: 1/ 3;
    width: 100%;
    font-size: 20px;
    color: #000000;
    border-radius: 10px;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #c1c1c1,
        -5px -5px 10px #c1c1c1;
}

.cal .buttons .eraser {
    background: #7f8c8d;
    color: white;
}

.cal .buttons .enter {
    background: #1abc9c;
    color: white;
}

.action-btn {
    color: grey;
    font-weight: bold;
}

.calc-action-btn {
    color: #000000;
    font-size: 7vh;
    font-weight: bold;
}


#referee-result-box {
    font-size: calc(1.625rem + 6vh);
}

.numPadPassword {
    text-align: center;
}

.numPadPassword .input-group {
    display: inline-block;
}